body {
  margin: 0;
  font: normal 16px/24px Arial;
}
h1 {
  text-align: center;
}
form {
  width: 1000px;
  margin: 0 auto;
}
fieldset {
  margin: 2em;
  padding: 1em;
  border-radius: 10px;
}
input {
  width: 100%;
  box-sizing: border-box;
}
#calendar {
  margin: 0 auto;
}
.dp_wrapper {
  margin: 1em 0 0;
  border: 1px solid black;
  padding: 1em;
  border-radius: 10px;
}
.dp_header {
  text-align: center;
  height: 26px;
}
.dp_header > b {
  line-height: 26px;
}
.prev,
.bigprev,
.next,
.bignext {
  display: block;
  width: 4em;
  border: 1px solid #808080;
  cursor: pointer;
  font-weight: bold;
  background-color: #fdeaa8;
  opacity: 0.6;
}
.prev:hover,
.bigprev:hover,
.next:hover,
.bignext:hover {
  color: #000;
  border-color: #808080;
  opacity: 1;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.prev,
.bigprev {
  float: left;
  margin-left: 1em;
  border-radius: 5px;
}

.next,
.bignext {
  float: right;
  margin-right: 1em;
  border-radius: 5px;
}
.dp_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  margin-top: 1em;
  gap: 1em;
}
.dp_grid > span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.headday {
  font-weight: bold;
  padding: 0.5em;
}
.getter {
  cursor: pointer;
  border: 1px solid #808080;
}
.getter:hover {
  background: #98ff98;
  color: #000;
  font-weight: bold;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.holiday {
  color: #800080;
  border-color: #800080;
}

.getter.holiday:hover {
  color: #fff;
  background-color: #800080;
}
.markedday {
  color: #000;
  background: #30d5c8;
}
.today {
  color: #000;
  background: #98ff98;
  font-weight: bold;
}
.holiday.today {
  background: #800080;
  color: #fff;
}
.cashday {
  background: #fdeaa8;
}
