@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font: normal 16px/22px "OpenSans";
  color: #999;
  background: #fff;
}
header {
  height: 890px;
  background: url("images/header_bg.png") center top no-repeat,
    linear-gradient(to bottom, #404149 740px, transparent 740px);
}
footer {
  height: 181px;
  background: #f7654a;
}
main {
  margin: 100px auto 150px;
  width: 1110px;
}
.container {
  margin: 0 auto;
  width: 1110px;
}
h1 {
  margin-bottom: 60px;
  font: 500 normal 36px/53px "Oswald";
  text-align: center;
  text-transform: uppercase;
  color: #404149;
}
.gallery {
  display: flex;
  gap: 30px;
}
.gal_unit {
  width: 350px;
  flex: none;
}
.gal_unit > img {
  width: 350px;
  height: 380px;
}
.gal_unit_title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  padding-top: 66px;

  /* Dark */

  color: #404149;
}
.gal_unit_text {
  padding-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #999999;
}
.header_title-big {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 95px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-top: 192px;

  /* White */

  color: #ffffff;
}
.header_title-small {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;

  /* White */

  color: #ffffff;
  padding-top: 35px;
}
.bar {
  position: absolute;
  width: 1110px;
  height: 300px;
  left: calc(50% - 555px);
  top: 590px;
  align-items: center;
  background: #f7f7f7;
  display: flex;
  justify-content: space-evenly;
}

.bar_item_1 {
  padding-top: 0px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 107px;
  text-align: center;
  text-transform: uppercase;

  /* Accent */

  color: #f7654a;
}
.bar_item_2 {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 25px;
  color: #000000;
}

.bar_item_3 {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  /* gray */

  color: #999999;
  padding-top: 10px;
}
footer > .container {
  display: grid;
  grid-template: 1fr 1fr /700px 1fr;
  grid-template-areas:
    "title button"
    "subtitle button";
}
.request_title {
  grid-area: title;
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.02em;

  color: #ffffff;
  padding-top: 30px;
}
.request_subtitle {
  grid-area: subtitle;
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;

  color: #ffffff;
  padding-bottom: 45px;
}
.request_button {
  grid-area: button;
  justify-self: end;
  align-self: center;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #000000;

  background: #fff;
  width: 175px;
  height: 49px;
}

.request_button_text {
  text-align: right;
  padding-top: 14px;
  padding-right: 30px;
  position: relative;
}
.request_button_text::before {
  content: "";

  position: absolute;

  margin-left: -33px;
  margin-top: 3px;

  width: 18px;
  height: 21px;
  background: url(images/icon-letter.png) no-repeat;
}
.request_button > a {
  color: #000;
  text-decoration: none;
}

.top-string {
  display: grid;

  grid-template: 1fr /1fr 1fr;
  grid-template-areas: "logo menu";
}
.logo {
  grid-area: logo;
  width: 60px;

  padding-top: 30px;

  height: 50px;
}
.menu-gamburger {
  grid-area: menu;
  justify-self: end;
  padding-top: 30px;
  right: 405px;
  width: 50px;
  height: 50px;
}
