@font-face {
  font-family: "Lobster";
  src: url("Fonts/Lobster-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font: normal 16px/24px "Lobster";
  margin: 0;
  background: white;
}
.container {
  margin: 50px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: pink;
  background: linear-gradient(to left top, lightblue, beige);
}
p,
h1,
h4 {
  background: white;
  border-radius: 10px;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .container {
    width: 900px;
    height: 600px;
  }
  @keyframes move1 {
    0% {
      top: 200px;
      left: 300px;
    }
    100% {
      top: 50px;
      left: 50px;
    }
  }
  @keyframes move2 {
    0% {
      top: 200px;
      right: 300px;
    }
    100% {
      top: 50px;
      right: 50px;
    }
  }
  @keyframes move3 {
    0% {
      bottom: 200px;
      left: 300px;
    }
    100% {
      bottom: 50px;
      left: 50px;
    }
  }
  @keyframes move4 {
    0% {
      bottom: 200px;
      right: 300px;
    }
    100% {
      bottom: 50px;
      right: 50px;
    }
  }
  @keyframes moveh1 {
    0% {
      top: 24px;
      left: 300px;
    }
    100% {
      top: 250px;
      left: 300px;
    }
  }
  @keyframes moveh4 {
    0% {
      top: 96px;
      left: 300px;
    }
    100% {
      top: 300px;
      left: 300px;
    }
  }

  .first {
    position: absolute;
    top: 50px;
    left: 50px;
    animation: move1 2s linear;
  }
  .second {
    position: absolute;
    top: 50px;
    right: 50px;
    animation: move2 2s linear;
  }
  .third {
    position: absolute;
    bottom: 50px;
    left: 50px;
    animation: move3 2s linear;
  }
  .fourth {
    position: absolute;
    bottom: 50px;
    right: 50px;
    animation: move4 2s linear;
  }
  h1 {
    position: absolute;
    top: 250px;
    left: 300px;
    animation: moveh1 2s linear;
  }
  h4 {
    position: absolute;
    top: 300px;
    left: 300px;
    animation: moveh4 2s linear;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
    height: 1100px;
  }
  @keyframes spin1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes spin2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  .first {
    animation: spin1 10s infinite linear;
    transform-origin: 400px 400px;
    background: none;
  }
  .first span {
    display: block;
    animation: spin2 10s infinite linear;
    transform-origin: center;
    background: white;
    border-radius: 10px;
  }
}
