@font-face {
    font-family: 'Lobster';
    src: url('Lobster-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@keyframes backgroundrun {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}
html {
    height: 100%;
}
.container {
    z-index: 1;
    font-family: 'Lobster', cursive;
    font-size: 18px;
    background: linear-gradient(270deg, #beda00, #e96b6b, #93d8e9);
    background-size: 600% 600%;
    animation: backgroundrun 30s ease infinite;
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    width: 1000px;
}

p {
    height: 100px;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (min-width: 900px) {
    .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    width: 1000px;
    }

    @keyframes odin {
        0%  { bottom: 0; right: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5); }
       100% { bottom: 150px; right: 300px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
    }
    @keyframes dva {
        0%  { bottom: 0; left: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5); }
       100% { bottom: 300px; left: 300px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
    }
    @keyframes tri {
        0%  { bottom: 0; left: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5); }
       100% { bottom: -100px; left: -300px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
    }
    @keyframes chetyre {
        0%  { bottom: 0; left: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5); }
       100% { bottom: 50px; left: 300px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
    }
    @keyframes hh {
        0%  { bottom: 0; }
       100% { bottom: -300px; }
    }

    .odin {
        z-index: 2;
        background: inherit;
        position: relative;
        animation: 5s odin linear both;
    }

    .dva {
        z-index: 2;
        background: inherit;
        position: relative;
        animation: 5s dva linear both;
    }
    .tri {
        z-index: 2;
        background: inherit;
        position: relative;
        animation: 5s tri linear both;
    }
    .chetyre {
        z-index: 2;
        background: inherit;
        position: relative;
        animation: 5s chetyre linear both;
    }
    h1, h3 {
        display: inline-block;
        position: relative;
        animation: 5s hh linear both;
    }
}

@media screen and (min-width: 1200px) {
    .container {
    width: 100%;
    border-radius: 0%;
    }
    @keyframes odin {
        0%  { bottom: 0; right: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5); }
       100% { bottom: 150px; right: 300px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
    }
    @keyframes odin2 {
        0%  { box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
       100% { box-shadow: 0 0 5px rgba(0,0,0,0.5);}
    }
    @keyframes odin3 {
        % {
        transform: translate(0px, 0px);
    }
    16.6% {
        transform: translate(300px, 0px); rotate (90deg);
    }
    33.3% {
        transform: translate(600px, 0px); /*правый верхний угол*/
    }
    50% {
        transform: translate(600px, 550px); /*правый нижний*/
    }
    66.6% {
        transform: translate(300px, 550px);
    }
    83.2% {
        transform: translate(0px, 550px); /*левый нижний*/
    }
    100% { 
        transform: translate(0px, 0px); /*return*/
    }
}
    .odin {
        background: inherit;
        position: relative;
        animation: 5s odin linear both,
                   2s odin2 5s linear both,
                   15s odin3 10s linear infinite;
    }
    /* */
    @keyframes dva {
        0%  { bottom: 0; left: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5); }
       100% { bottom: 300px; left: 300px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
    }
    @keyframes dva2 {
        0%  { box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
       100% { box-shadow: 0 0 5px rgba(0,0,0,0.5);}
    }
    @keyframes dva3 {
        % {
            transform: translate(0px, 0px);
    }
    16.6% {
        transform: translate(0px, 550px); /* RB */
    }
    33.3% {
        transform: translate(-300px, 550px); 
    }
    50% {
        transform: translate(-600px, 550px); /*LB*/
    }
    66.6% {
        transform: translate(-600px, 0px);
    }
    83.2% {
        transform: translate(-300px, 0px);
    }
    100% { 
        transform: translate(0px, 0px);
    }
}
    .dva {
        background: inherit;
        position: relative;
        animation: 5s dva linear both,
                   2s dva2 5s linear both,
                   15s dva3 11s linear infinite;
    }
    /* */
    @keyframes tri {
        0%  { bottom: 0; left: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5); }
       100% { bottom: -100px; left: -300px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
    }
    @keyframes tri2 {
        0%  { box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
       100% { box-shadow: 0 0 5px rgba(0,0,0,0.5);}
    }
    @keyframes tri3 {
        % {
            transform: translate(0px, 0px);
    }
    16.6% {
        transform: translate(0px, -550px); /* LT */
    }
    33.3% {
        transform: translate(300px, -550px); 
    }
    50% {
        transform: translate(600px, -550px); /*RT*/
    }
    66.6% {
        transform: translate(600px, 0px); /*LT*/
    }
    83.2% {
        transform: translate(300px, 0px);
    }
    100% { 
        transform: translate(0px, 0px);
    }
}
    .tri {
        background: inherit;
        position: relative;
        animation: 5s tri linear both,
                   2s tri2 5s linear both,
                   15s tri3 11s linear infinite;
    }
    /**/   
    @keyframes chetyre {
        0%  { bottom: 0; left: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5); }
       100% { bottom: 50px; left: 300px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
    }
    @keyframes chetyre2 {
        0%  { box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
       100% { box-shadow: 0 0 5px rgba(0,0,0,0.5);}
    }
    @keyframes chetyre3 {
        % {
            transform: translate(0px, 0px);
    }
    16.6% {
        transform: translate(-300px, 0px); 
    }
    33.3% {
        transform: translate(-600px, 0px); /* LB */
    }
    50% {
        transform: translate(-600px, -550px); /*LT*/
    }
    66.6% {
        transform: translate(-300px, -550px);
    }
    83.2% {
        transform: translate(0px, -550px); /*RT*/
    }
    100% { 
        transform: translate(0px, 0px);
    }
}
    .chetyre {
        background: inherit;
        position: relative;
        animation: 5s chetyre linear both,
                   2s chetyre2 5s linear both,
                   15s chetyre3 10s linear infinite;
    }
    /**/
    @keyframes hh {
        0%  { bottom: 0; }
       100% { bottom: -300px; }
    }
    @keyframes hh2 {
        0% { opacity: 0; }
        20% { opacity: 0.3; }
        40% { opacity: 0.5; }
        60% { opacity: 1; }
        80% { opacity: 0.5; }
        100% { opacity: 0.3; }
    }
    h1, h3 {
        display: inline-block;
        position: relative;
        animation: 5s hh linear both,
          5s hh2 10s ease infinite;
    }                             
}